%table
  %tr
    %th Revision Number
    %th Before
    %th After
  - @revisions.each do |revision|
    %tr
      %td= link_to revision.number, revision_path(revision, :doc => @doc.id)
      %td= revision.changes["body"].try(:first)
      %td= revision.changes["body"].try(:last)
