:css
  del.diffmod{text-decoration: none; background-color: #DDFFDD;}
  ins.diffmod{text-decoration: none; background-color: #FFDDDD;}
  .diffins {text-decoration: none; background-color: #DDFFDD;}
  .diffdel {text-decoration: none; background-color: #FFDDDD;}
%dl
  %dt Revision Number
  %dd= @revision.number
  %dt Tag
  %dd= @revision.tag  || "No tag defined"
  %dt Date
  %dd= @revision.created_at
- require 'htmldiff'
- extend HTMLDiff
- before = @revision.changes["body"].first
- after = @revision.changes["body"].last
= diff(before, after)
