%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title= @parent.name
    = javascript_include_tag :defaults
  %body
    = link_to 'Logout',logout_path, :style => 'float:right;'
    = yield

